@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}
body{
    min-height: 100vh;
    background-color: darkgrey;
}
header{
    background-color: black;
    color: #fff;
    text-align: center;

}

header > h1 {
    padding-top: 50px;
    /* text-transform: uppercase; Para Deixar toda a frase Maiuscula*/
    font-variant: small-caps;
    /* O começo de cada frase fica maiuscula. */
}

header > p {
    padding-bottom: 50px;
}
header  a, footer a{
    color: #fff;
    text-decoration: none;
    font-weight: bolder;
}
header a:hover, footer a:hover{
    text-decoration: underline;
}
section{
    padding: 10vh 0px 10vh 30px ;
    /* Espaçamento entre as linhas */
    line-height: 2em;

}
section.normal{
    background-color: #fff;
    color: black;

}
section.imagem{
    background-color: rgba(0, 0, 0, 0.39);
    color: #fff;
}
section.imagem > p{
    width: 400px;
    background-color: rgba(0, 0, 0, 0.548);
}
footer{
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px;
}