@charset "UTF-8";
h1{
    background-color: lightgray;
    height: 300px;
    width: 300px;
    border-width: 10px;
    border-style: solid;
    border-color: darkslategray;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;

        margin: auto;
        margin-bottom: 50px;

        outline-width: 5px;
        outline-style: dashed;
        outline-color: salmon;
}
a{
    display: block;
    border-width: 5px;
    border-style: solid;
    border-color: red;
}
/* Forma simplificada */
#box2{
 border: 10px solid darkslategray;
 /* Se vai ser o mesmo valor so prescisa colocar uma vez */
 /* ex padding: 10px; */
 padding: 10px 10px 10px 10px;   
 margin: 20px auto 40px auto;
outline: 5px dashed salmon;
}